<c-modal #scrollableLongContentModal id="scrollableLongContentModal" size="xl" (visibleChange)="modelToggeled($event)"
  [visible]="visible" scrollable>
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button [cModalToggle]="scrollableLongContentModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="longContent"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="scrollableLongContentModal.id" cButton color="secondary">
      Close
    </button>
    <button [disabled]="!createUser.valid" cButton color="primary"
      (click)="createUser.valid && submitCreateUserForm()">Save changes</button>
  </c-modal-footer>
</c-modal>

<ng-template #longContent>
  <form [formGroup]="createUser" cForm (ngSubmit)="createUser.valid" autocomplete="off">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>User Name</label>
          <app-text-input icon="" [formControl]='$any(createUser.controls["username"])'
            [label]='"User Name"'></app-text-input>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Email</label>
          <app-text-input icon="" [formControl]='$any(createUser.controls["email"])' [label]='"Email"'></app-text-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Age</label>
          <app-text-input icon="" [formControl]='$any(createUser.controls["age"])' [label]='"Age"'></app-text-input>

        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Full Name</label>
          <app-text-input icon="" [formControl]='$any(createUser.controls["fullName"])'
            [label]='"Full Name"'></app-text-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Password</label>
          <app-text-input icon="" [formControl]='$any(createUser.controls["password"])'
            [label]='"Password"'></app-text-input>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Confirm Password</label>
          <app-text-input icon="" [formControl]='$any(createUser.controls["confirmPassword"])'
            [label]='"Confirm Password"'></app-text-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Phone Number</label>
          <app-text-input icon="" [formControl]='$any(createUser.controls["phoneNumber"])'
            [label]='"Phone Number"'></app-text-input>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Gender</label>
          <select name="gender" aria-label="gender" [formControl]="$any(createUser.controls['gender'])" cSelect>
            <option value="" disabled>Gender</option>
            <option *ngFor="let gender of genderList" [value]="gender.value">
              {{gender.display}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label cLabel>Role</label>
        <select name="role" aria-label="role" cSelect [formControl]="$any(createUser.controls['role'])">
          <option disabled value="" selected>Role</option>
          <option *ngFor="let role of roles" [value]="role">
            {{role}}
          </option>
        </select>
      </div>
      <div class="col mb-3" *ngIf="createUser.value.role == 'Doctor'">
        <label cLabel>Speciality</label>
        <select name="doctorSpecialityId" aria-label="doctorSpecialityId" cSelect
          [formControl]="$any(createUser.controls['doctorSpecialityId'])">
          <option disabled value="" selected>Speciality</option>
          <option *ngFor="let speciality of specialityList" [value]="speciality.id">
            {{speciality.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="row" *ngIf="createUser.value.role == 'Doctor'">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Price Visit</label>
          <app-text-input type="number" icon="" formControlName="priceVisit" [label]='"Price Visit"'></app-text-input>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Price Revisit</label>
          <app-text-input type="number" icon="" formControlName="priceRevisit" [label]='"Price Visit"'></app-text-input>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="createUser.value.role == 'Doctor'">
      <div class="col">
        <div class="mb-3">
          <!-- Display doctorWorkingHours -->
          <div formArrayName="doctorWorkingHours">
            <div *ngFor="let control of $any(createUser.controls['doctorWorkingHours']).controls; let i = index"
              [formGroupName]="i">
              <div class="row mb-2">
                <div class="col-2">
                  <div class="text-dark fw-bold">{{ getDayOfWeekLabel(control.get('dayOfWeek').value) }}</div>
                </div>
                <div class="col">
                  <select formControlName="startTime" class="form-select">
                    <option value="" selected>Select a start time</option>
                    <option *ngFor="let time of getHalfHourIntervals(); trackBy: trackByFn"
                      [value]="time.timeSpanValue">{{ time.displayValue }}</option>
                  </select>
                </div>
                <div class="col">
                  <select formControlName="endTime" class="form-select">
                    <option value="" selected>Select an end time</option>
                    <option *ngFor="let time of getHalfHourIntervals(); trackBy: trackByFn"
                      [value]="time.timeSpanValue">{{ time.displayValue }}</option>
                  </select>
                  <div class="col" *ngIf="control.get('endTime').hasError('endTimeRequired')">
                    <div class="text-danger">End time is required when start time is selected.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{error}}
        </li>
      </ul>
    </div>
  </form>
</ng-template>