<c-navbar colorScheme="dark" expand="lg" class="bg-dark">
    <div navbar class="d-flex flex-column gap-2 flex-lg-row justify-content-between w-100 px-5">
        <button (click)="toggleModal()" cButton color="light"> <span class=""><svg class="border rounded border-dark"
                    cIcon name="cilPlus"></svg>
                Add new room</span></button>
        <select name="speciality" *ngIf="specialityList" class="w-25" aria-label="speciality"
            [(ngModel)]="roomParams.roomSpecialityId" cSelect (change)="getRooms()">
            <option [value]="null" disabled>Speciality</option>
            <option *ngFor="let speciality of specialityList" [value]="speciality.id">
                {{ speciality.name }}
            </option>
        </select>
        <button cButton color="light" (click)="resetFiltersAndGetRooms()">Reset Filters</button>

    </div>
</c-navbar>
<table cTable *ngIf="rooms && rooms.length > 0">
    <thead>
        <tr>
            <th scope="col">Room Number</th>
            <th scope="col">Room Speciality</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let room of rooms" class="user-table" (click)="setRoomAndShowModal(room)">
            <td>{{room.roomNumber}}</td>
            <td>{{getSpecialityNameById(room.roomSpecialityId)}}</td>
            <td>{{room.doctor?.fullName }}</td>
            <td class="pt-1"><button cButton color="danger" class="btn-m" (click)="deleteRoom(room.id, $event)"><svg cIcon
                name="cil-trash"></svg></button></td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center" *ngIf="pagination">
    <app-pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)"></app-pagination>
</div>
<app-rooms-modal (roomAddedUpdated)="roomAddedUpdated($event)" [specialityList]="specialityList" [(visible)]="modalVisibility"></app-rooms-modal>