<c-modal #serviceModal id="serviceModal" size="xl" (visibleChange)="modelToggeled($event)"
  [visible]="visible" scrollable>
  <c-modal-header>
    <h5 cModalTitle>Service</h5>
    <button [cModalToggle]="serviceModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="serviceContent"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="serviceModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="createUpdateService()">Save changes</button>
  </c-modal-footer>
</c-modal>

<ng-template #serviceContent>
  <form [formGroup]="createServiceForm" cForm (ngSubmit)="createServiceForm.valid" autocomplete="off">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Name</label>
          <app-text-input icon="" formControlName="name" [label]='"Name"'></app-text-input>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Total Price</label>
          <app-text-input icon="" formControlName="totalPrice" [label]='"Total Price"'></app-text-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Speciality</label>
          <select name="speciality" aria-label="speciality" cSelect formControlName="serviceSpecialityId" (change)="resetFormInventoryItems()">
            <option value="" disabled selected>Select speciality</option>
            <option *ngFor="let service of specialityList" [value]="service.id">
              {{service.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col" *ngIf="createServiceForm.get('serviceSpecialityId')?.value != null">
        <div class="mb-3">
          <label cLabel>Inventory Items</label>
          <ng-select [items]="inventoryItems" [virtualScroll]="true" [bindLabel]="'name'" [bindValue]="'id'" [compareWith]="compareInventoryItems"
            (search)="searchItems($event)" [multiple]="true" (change)="onItemsSelect($event)" [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}">
          </ng-select>
        </div>
      </div>
    </div>
    <div formArrayName="selectedInventoryItem">
      <div *ngFor="let control of $any(createServiceForm.controls['selectedInventoryItem']).controls; let i = index"
        [formGroupName]="i">
        <div class="row">
          <div class="col">
            <label for="itemName{{i}}">Name</label>
            <input type="text" class="form-control" id="itemName{{i}}" formControlName="itemName" readonly>
          </div>
          <div class="col">
            <label for="quantityNeeded{{i}}">Quantity Needed</label>
            <input type="number" class="form-control" id="quantityNeeded{{i}}" formControlName="quantityNeeded">
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{error}}
        </li>
      </ul>
    </div>
  </form>
</ng-template>