<c-modal #scrollableLongContentModal id="scrollableLongContentModal" size="xl" (visibleChange)="modelToggeled($event)" [visible]="visible" scrollable>
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button [cModalToggle]="scrollableLongContentModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="longContent"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="scrollableLongContentModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="createService()">Save changes</button>
  </c-modal-footer>
</c-modal>

<ng-template #longContent>
  <form [formGroup]="createServiceForm" cForm (ngSubmit)="createServiceForm.valid" autocomplete="off">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Name</label>
          <app-text-input icon="cilUser"
            [formControl]='$any(createServiceForm.controls["name"])' [label]='"Name"'></app-text-input>
            
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Disposables Percentage</label>
          <app-text-input icon="cilEnvelopeClosed"
            [formControl]='$any(createServiceForm.controls["disposablesPercentage"])'  [label]='"Disposables"'></app-text-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Total Price</label>
          <app-text-input icon="cilUser"
            [formControl]='$any(createServiceForm.controls["totalPrice"])' [label]='"Total Price"'></app-text-input>
            
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Speciality</label>
          <select name="speciality"  aria-label="speciality" cSelect [formControl]="$any(createServiceForm.controls['serviceSpecialityId'])">
            <option value="" disabled selected>Select speciality</option>
            <option *ngFor="let service of specialityList" [value]="service.value">
              {{service.display}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{error}}
        </li>
      </ul>
    </div>
  </form>
</ng-template>