<c-nav variant="tabs">
  <c-nav-item>
    <a [active]="true" [cTabContent]="tabContent" [tabPaneIdx]="0" cNavLink>
      Patient Information
    </a>
  </c-nav-item>
  <c-nav-item>
    <a [cTabContent]="tabContent"  [tabPaneIdx]="1" cNavLink>
      Appointments
    </a>
  </c-nav-item>
  <c-nav-item>
    <a [cTabContent]="tabContent" [tabPaneIdx]="2" cNavLink>
      Invoices
    </a>
  </c-nav-item>
  <c-nav-item>
    <a [cTabContent]="tabContent" [tabPaneIdx]="3" cNavLink>
      Packages
    </a>
  </c-nav-item>
</c-nav>
<c-tab-content #tabContent="cTabContent" (activeTabPaneIdxChange)="onTabChange($event)" [activeTabPaneIdx]="activePane">
  <c-tab-pane class="p-3">
    <form [formGroup]="updateUserForm" cForm (ngSubmit)="updateUserForm.valid && updateUser()" autocomplete="off">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label cLabel>Username</label>
            <app-text-input icon="cilUser"
              [formControl]='$any(updateUserForm.controls["username"])' [label]='"username"'></app-text-input>
              
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label cLabel>Email</label>
            <app-text-input icon="cilEnvelopeClosed"
              [formControl]='$any(updateUserForm.controls["email"])'  [label]='"email"'></app-text-input>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label cLabel>Fullname</label>
            <app-text-input icon="cilUser" 
              [formControl]='$any(updateUserForm.controls["fullname"])'  [label]='"Fullname"'></app-text-input>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label cLabel>Age</label>
            <app-text-input icon="cilPeople" 
              [formControl]='$any(updateUserForm.controls["age"])'  [label]='"Age"'></app-text-input>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label cLabel>Phone Number</label>
            <app-text-input icon="cilPhone" 
              [formControl]='$any(updateUserForm.controls["phoneNumber"])' [label]='"Phone Number"'></app-text-input>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label cLabel>Gender</label>
            <select name="gender"  aria-label="gender" cSelect [formControl]="$any(updateUserForm.controls['gender'])">
              <option *ngFor="let gender of genderList" [value]="gender.value">
                {{gender.display}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
          <li *ngFor="let error of validationErrors">
            {{error}}
          </li>
        </ul>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <app-patient-appointments [user]="user" *ngIf="activePane === 1"></app-patient-appointments>
  </c-tab-pane>
  <c-tab-pane class="p-3">

  </c-tab-pane>

  <c-tab-pane class="p-3">

  </c-tab-pane>
</c-tab-content>