<c-nav variant="tabs">
  <c-nav-item>
    <a [active]="true" [cTabContent]="tabContent" [tabPaneIdx]="0" cNavLink>
      Patient Information
    </a>
  </c-nav-item>
  <c-nav-item>
    <a [cTabContent]="tabContent" [tabPaneIdx]="1" cNavLink>
      Appointments
    </a>
  </c-nav-item>
</c-nav>
<c-tab-content #tabContent="cTabContent" (activeTabPaneIdxChange)="onTabChange($event)" [activeTabPaneIdx]="activePane">
  <c-tab-pane class="p-3">
    <form [formGroup]="updateUserForm" cForm (ngSubmit)="updateUserForm.valid && updateUser()" autocomplete="off">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label cLabel>Username</label>
            <app-text-input icon="" [formControl]='$any(updateUserForm.controls["username"])'
              [label]='"username"'></app-text-input>

          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label cLabel>Email</label>
            <app-text-input icon="" [formControl]='$any(updateUserForm.controls["email"])'
              [label]='"email"'></app-text-input>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label cLabel>Fullname</label>
            <app-text-input icon="" [formControl]='$any(updateUserForm.controls["fullname"])'
              [label]='"Fullname"'></app-text-input>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label cLabel>Age</label>
            <app-text-input icon="" [formControl]='$any(updateUserForm.controls["age"])'
              [label]='"Age"'></app-text-input>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label cLabel>Phone Number</label>
            <app-text-input icon="" [formControl]='$any(updateUserForm.controls["phoneNumber"])'
              [label]='"Phone Number"'></app-text-input>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label cLabel>Gender</label>
            <select name="gender" aria-label="gender" cSelect [formControl]="$any(updateUserForm.controls['gender'])">
              <option *ngFor="let gender of genderList" [value]="gender.value">
                {{gender.display}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
          <li *ngFor="let error of validationErrors">
            {{error}}
          </li>
        </ul>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <app-patient-appointments [user]="user" *ngIf="activePane === 1"></app-patient-appointments>
  </c-tab-pane>
</c-tab-content>
<c-nav variant="tabs" class="mt-5">
  <c-nav-item>
    <a [active]="true" [cTabContent]="tabContent2" cNavLink [tabPaneIdx]="0">
      Lab Tests
    </a>
  </c-nav-item>
  <c-nav-item>
    <a [cTabContent]="tabContent2" cNavLink [tabPaneIdx]="1">
      Radiology
    </a>
  </c-nav-item>
  <c-nav-item>
    <a [cTabContent]="tabContent2" cNavLink [tabPaneIdx]="2">
      Official Documents
    </a>
  </c-nav-item>
</c-nav>

<c-tab-content #tabContent2="cTabContent" (activeTabPaneIdxChange)="onImageChange($event)"
  [activeTabPaneIdx]="imageActivePane">
  <c-tab-pane class="p-3">
    <gallery gallerize [items]="galleryImages" *ngIf="imageActivePane === 0"></gallery>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <gallery gallerize [items]="galleryImages" *ngIf="imageActivePane === 1"></gallery>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <gallery gallerize [items]="galleryImages" *ngIf="imageActivePane === 2"></gallery>
  </c-tab-pane>
</c-tab-content>
<div class="w-100 text-center mt-5 mb-3">
  <button class="btn btn-primary w-100" (click)="openModal()">Upload Image</button>
</div>
<app-file-upload-modal [(visible)]="modalVisibility" [userId]="user?.id!"
  [category]="selectedImageCategory" (imageAdded)="galleryImageAdded($event)"></app-file-upload-modal>