<c-alert class="text-center" color="dark" role="button"(click)="openModal()">
  <button cButton color="ligh" class="btn-m">Add New Speciality</button>
</c-alert>

<table cTable *ngIf="specialityList && specialityList.length > 0">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Speciality Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let speciality of specialityList" class="user-table" (click)="openModalAndSetService(speciality)">
      <td>{{speciality.id}}</td>
      <td>{{speciality.name}}</td>
      <td class="pt-1"><button cButton color="primary" class="btn-m">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-specialities-model (specialityCreated)="specialityCreated($event)" [(visible)]="modalVisibility"></app-specialities-model>