<c-navbar colorScheme="dark" expand="lg" class="bg-dark">
  <div navbar class="d-flex flex-column gap-2 flex-lg-row justify-content-between w-100 px-5">
    <button cButton color="light"> <span class=""><svg class="border rounded border-dark" cIcon name="cilPlus"></svg>
        Add new patient</span></button>

    <form cForm class="d-flex" role="search">
      <input cFormControl type="search" placeholder="Search" aria-label="Search" class="me-2">
      <button cButton color="light" variant="outline">Search</button>
    </form>
  </div>
</c-navbar>

<table cTable *ngIf="patients && patients.length > 0">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Age</th>
      <th scope="col" class="arrow-filter" [ngStyle]="{'cursor': 'pointer'}" (click)="toggleOrder()">
        Date Created
        <svg cIcon [name]="userParams.order === 'desc' ? 'cil-arrow-bottom' : 'cil-arrow-top'"></svg>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{patient.fullName}}</td>
      <td>{{patient.gender}}</td>
      <td>{{patient.email}}</td>
      <td>{{patient.phoneNumber}}</td>
      <td>{{patient.age}}</td>
      <td>{{patient.dateCreated | date:'short'}}</td>
      <td class="pt-1"><button cButton color="primary" class="btn-m">Edit</button></td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <app-pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)"></app-pagination>
</div>