<c-nav variant="tabs">
    <c-nav-item>
      <a [active]="true" [cTabContent]="tabContent" [tabPaneIdx]="0" cNavLink>
        Doctor Information
      </a>
    </c-nav-item>
    <c-nav-item>
      <a [cTabContent]="tabContent"  [tabPaneIdx]="1" cNavLink>
        Services
      </a>
    </c-nav-item>
    <c-nav-item>
      <a [cTabContent]="tabContent" [tabPaneIdx]="2" cNavLink>
        Appointments
      </a>
    </c-nav-item>
    <c-nav-item>
      <a [cTabContent]="tabContent" [tabPaneIdx]="3" cNavLink>
        Invoices
      </a>
    </c-nav-item>
  </c-nav>
  <c-tab-content #tabContent="cTabContent">
    <c-tab-pane class="p-3"></c-tab-pane>
    <c-tab-pane class="p-3"></c-tab-pane>
    <c-tab-pane class="p-3"></c-tab-pane>
    <c-tab-pane class="p-3"></c-tab-pane>
  </c-tab-content>