<c-nav variant="tabs">
  <c-nav-item>
    <a [active]="true" [cTabContent]="tabContent" [tabPaneIdx]="0" cNavLink>
      Doctor Information
    </a>
  </c-nav-item>
  <c-nav-item>
    <a [cTabContent]="tabContent" [tabPaneIdx]="1" cNavLink>
      Services
    </a>
  </c-nav-item>
  <c-nav-item>
    <a [cTabContent]="tabContent" [tabPaneIdx]="2" cNavLink>
      Appointments
    </a>
  </c-nav-item>
</c-nav>
<c-tab-content #tabContent="cTabContent" (activeTabPaneIdxChange)="onTabChange($event)" [activeTabPaneIdx]="activePane">
  <c-tab-pane class="p-3">
    <app-update-user-view 
    [userRole]="'Doctor'" 
    [user]="user" *ngIf="activePane === 0 && doctorWorkingHours != null" 
    [doctorWorkingHours]="doctorWorkingHours"></app-update-user-view>
  </c-tab-pane>
  <c-tab-pane class="p-3" *ngIf="user">
    <app-doctor-services [doctorId]="user.id" *ngIf="activePane === 1">
    </app-doctor-services>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <app-doctor-appointments [user]="user" *ngIf="activePane === 2"></app-doctor-appointments>
  </c-tab-pane>
</c-tab-content>