<c-modal #clinicModal id="clinicModal" size="xl" (visibleChange)="modelToggeled($event)"
  [visible]="visible" scrollable>
  <c-modal-header>
    <h5 cModalTitle>Room</h5>
    <button [cModalToggle]="clinicModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="clinicContent"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="clinicModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton (click)="createUpdateRoom()" color="primary">Save changes</button>
  </c-modal-footer>
</c-modal>

<ng-template #clinicContent>
  <form [formGroup]="createUpdateRoomForm" cForm (ngSubmit)="createUpdateRoomForm.valid" autocomplete="off">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Room Number</label>
          <app-text-input icon="cilUser" formControlName="clinicNumber" [label]='"Room Number"'></app-text-input>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Speciality</label>
          <select name="clinicSpecialityId" aria-label="clinicSpecialityId" cSelect formControlName="clinicSpecialityId" (change)="resetDoctorList()">
            <option [value]="0" disabled selected>Select speciality</option>
            <option *ngFor="let service of specialityList" [value]="service.id">
              {{service.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="createUpdateRoomForm.get('clinicSpecialityId')?.value != ''">
        <div class="mb-3">
          <label cLabel>Doctor</label>
          <ng-select [items]="doctorList" (search)="searchDoctors($event)" [virtualScroll]="true"
          [bindLabel]="'fullName'" [bindValue]="'id'"[multiple]="false" formControlName="doctorId">
        </ng-select>
        </div>
      </div>
    </div>
  </form>
</ng-template>