<c-modal #supplyOrdersModal id="supplyOrdersModal" (visibleChange)="modelToggeled($event)" size="xl" [visible]="visible" scrollable>
  <c-modal-header>
    <h5 cModalTitle>Service</h5>
    <button [cModalToggle]="supplyOrdersModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="supplyOrderContent"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="supplyOrdersModal.id" cButton color="secondary">
      Close
    </button>
    <button [disabled]="!supplyOrderForm.valid" cButton color="primary" (click)="supplyOrderForm.valid && createUpdateSupplyOrder()">Save changes</button>
  </c-modal-footer>
</c-modal>

<ng-template #supplyOrderContent>
  <form [formGroup]="supplyOrderForm" autocomplete="off">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Item</label>
          <ng-select [items]="inventoryItems" (search)="searchItems($event)" [virtualScroll]="true" [bindLabel]="'name'"
            [bindValue]="'id'" [multiple]="false" formControlName="inventoryItemId">
          </ng-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Quantity</label>
          <app-text-input type="number" formControlName="quantity" [label]='"Quantity"'></app-text-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Item Price</label>
          <app-text-input type="number" formControlName="itemPrice" [label]='"Item Price"'></app-text-input>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Expiry Date</label>
          <app-text-input type="date" formControlName="expiryDate" [label]='"Expiry Date"'></app-text-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Sell Price</label>
          <app-text-input type="number" formControlName="sellPrice" [label]='"Sell Price"'></app-text-input>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Note</label>
          <app-text-input type="text" formControlName="note" [label]='"Note"'></app-text-input>
        </div>
      </div>
    </div>
  </form>
</ng-template>