<form [formGroup]="createInvoiceForm" cForm (ngSubmit)="createInvoiceForm.valid && createInvoice()" autocomplete="off"
  *ngIf="doctor_services">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label cLabel>Medicine</label>
        <ng-select [items]="medicineList" [virtualScroll]="true" [bindLabel]="'name'" [bindValue]="'id'"
          (search)="searchMedicines($event)" [multiple]="true" (change)="onMedicineSelect($event)"
          [(ngModel)]="selectedMedicines" [ngModelOptions]="{standalone: true}" [compareWith]="compareFn">
        </ng-select>
      </div>
    </div>
  </div>
  <div formArrayName="invoiceMedicines" class="mb-3">
    <div *ngFor="let control of $any(createInvoiceForm.controls['invoiceMedicines']).controls; let i = index"
      [formGroupName]="i">
      <div class="row mb-3">
        <div class="col">
          <app-text-input formControlName="medicineName" label='Medicine Name'></app-text-input>
        </div>
        <div class="col">
          <app-text-input formControlName="dosageAmount" label='Dosage Amount'></app-text-input>
        </div>
        <div class="col">
          <app-text-input formControlName="duration" label='Duration'></app-text-input>
        </div>
        <div class="col">
          <app-text-input formControlName="frequency" label='Frequency'></app-text-input>
        </div>
        <div class="col">
          <app-text-input formControlName="note" label='Note'></app-text-input>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label cLabel>Select Services</label>
        <ng-select [(ngModel)]="selectedServices" (change)="onServiceSelect($event)" [items]="services"
          [virtualScroll]="true" [multiple]="true" [bindLabel]="'name'" (remove)="invoiceRemoveService($event)"
          [ngModelOptions]="{standalone: true}" [clearable]="false">
        </ng-select>
      </div>
    </div>
  </div>
  <div formArrayName="invoiceSelectedServices" class="mb-3">
    <div *ngFor="let control of $any(createInvoiceForm.controls['invoiceSelectedServices']).controls; let i = index"
      [formGroupName]="i">
      <div class="row">
        <div class="col">
          <label>Service Name</label>
          <app-text-input formControlName="serviceName" label='Service Name'></app-text-input>
        </div>
        <div class="col">
          <label>Service Price</label>
          <app-text-input formControlName="servicePrice" label='Service Price'></app-text-input>
        </div>
        <div class="col">
          <label>Quantity</label>
          <app-text-input type="number" formControlName="quantity" label='Quantity'
            (change)="quantityChanged(i)"></app-text-input>
        </div>
        <div class="col">
          <label>Service Total Price</label>
          <app-text-input type="number" formControlName="servicetotalPrice"
            label='Service Total Price'></app-text-input>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3 d-flex justify-content-center">
    <div class="col-6 text-center">
      <button cButton color="success" (click)="pushNewCustomItem()">Add A Custom Item</button>
    </div>
  </div>
  <div formArrayName="customItems" class="mb-3">
    <div *ngFor="let control of $any(createInvoiceForm.controls['customItems']).controls; let i = index"
      [formGroupName]="i">
      <div class="row">
        <div class="col">
          <label>Item Name</label>
          <app-text-input formControlName="name" label='Item Name'></app-text-input>
        </div>
        <div class="col">
          <label>Item Price</label>
          <app-text-input type="number" formControlName="price" label='Item Price'></app-text-input>
        </div>
        <div class="col">
          <label>Units</label>
          <app-text-input type="number" formControlName="units" label='Units'></app-text-input>
        </div>
        <div class="col-1">
          <div class="d-flex flex-column">
            <label>Remove</label>
            <button cButton color="danger" class="btn-m" (click)="removeCustomItem(i)"><svg cIcon
                name="cil-trash"></svg></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3 d-flex justify-content-center">
    <div class="col-6 text-center">
      <button cButton color="dark" (click)="calculateTotals()"
        *ngIf="$any(createInvoiceForm.controls['customItems']).controls.length > 0 || $any(createInvoiceForm.controls['invoiceSelectedServices']).controls.length > 0">Caclulate/Refresh
        Totals</button>
    </div>
  </div>
  <ng-container
    *ngIf="this.createInvoiceForm.get('totalPrice')?.value > 0 && ($any(createInvoiceForm.controls['customItems']).controls.length > 0 || $any(createInvoiceForm.controls['invoiceSelectedServices']).controls.length > 0)">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Appointment Type Price</label>
          <input class="form-control" disabled [value]="invoice?.appointmentTypePrice" />

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Total Price</label>
          <app-text-input type="number" formControlName="totalPrice"></app-text-input>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Discount</label>
          <app-text-input type="number" formControlName="discountPercentage" 
          (change)="changeTotalAfterDiscount(this.createInvoiceForm.get('discountPercentage')?.value)"
            [label]="'Discount'"></app-text-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Total Paid</label>
          <app-text-input type="number" formControlName="totalPaid"
            (change)="changeTotalRemaning($event)"></app-text-input>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Total After Discount</label>
          <app-text-input type="number" formControlName="totalAfterDiscount"></app-text-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label cLabel>Total Remaning</label>
          <app-text-input type="number" formControlName="totalRemaning"></app-text-input>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label cLabel>Payment Method</label>
          <select name="paymentMethod" cSelect formControlName="paymentMethod">
            <option *ngFor="let method of paymentMethodList" [value]="method.value">
              {{method.display}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mb-3 d-flex justify-content-center">
      <div class="col-6 text-center">
        <button cButton color="primary" type="submit" [disabled]="!createInvoiceForm.valid">Finalize Invoice</button>
      </div>
    </div>
  </ng-container>
  <div class="row" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{error}}
      </li>
    </ul>
  </div>
</form>